<?xml version="1.0"?>
<configuration>
    <contextName>myshopx-services</contextName>
    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS}[%line] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="org.hibernate.loader.Loader" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />

    <!-- 日志级别 -->
    <root>
        <level value="debug" /><!--TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF -->
        <appender-ref ref="console" />
    </root>
</configuration>