<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxkj.projects.myshopx.dao.UserMapper">

	

	<insert id="addUser"  parameterType="com.gxkj.projects.myshopx.entitys.UserT"  useGeneratedKeys="true"  keyProperty="id">
		insert into user_t
		(id,user_name,password,headUrl) values (
		#{id},#{userName},#{password},#{headUrl}
		)
	</insert>

	<sql id="doPageQuery" >
		select id,user_name,password,headUrl from user_t order by id
	</sql>

</mapper>